<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<div class="w3-container">
  <h2>Post</h2>

  <div class="w3-card-4 w3-dark-grey" style="width:50%" >
    <div class="w3-container w3-center">
      <div *ngIf="exibe">
      <h3>Museum</h3>
      <img [src]="imagem" alt="Avatar" style="width:80%">
      <h5>Tiago Veloso</h5>
    </div>
      <div class="w3-section">
        <button class="w3-button w3-green" (click)="exibirPerfil()">Aparece</button>
        <button class="w3-button w3-red" (click)="ocultaPerfil()">Desaparece</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>

