<div class="w3-container">
  <h2 style="text-align:center">Post</h2>

  <div class="w3-card-4 w3-dark-grey" style="width: 100%"  >
    <div class="w3-container w3-center">
      <div *ngIf="exibe">
      <h3>Museum</h3>
      <img [src]="imagem" alt="Avatar" style="width:80%">
      <h5>Tiago Veloso</h5>
      <div *ngFor="let certification of lista">
        <div class="alert alert-primary" role="alert">
          {{certification.id}}:{{certification.cert}}({{certification.year}})
        </div>
      </div>
    </div>
      <div class="w3-section">
        <button class="w3-button w3-green" (click)="exibirPerfil()">Aparece</button>
        <button class="w3-button w3-red" (click)="ocultaPerfil()">Desaparece</button>
      </div>
    </div>
  </div>
</div>



